.bgGreen {
  background: #01A16F;
  border-radius: 0px 100px 100px 0px;
  width: 100%;
  max-width: 40%;
}

.Phonecode {
  padding-left: 34px !important;
}

.formcontrol {
  border: 1px solid #01A16F !important;
  border-radius: 20px !important;
}

.formcontroll1 {
  border: 1px solid #01A16F !important;
  border-radius: 20px 0px 0px 20px !important;
  border-right: none !important;
}

.formcontroll2 {
  border: 1px solid #01A16F !important;
  border-radius: 0px 20px 20px 0px !important;
}

.input-container {
  padding-bottom: 1em;
}

.left-inner-addon {
  position: relative;
}

.left-inner-addon input {
  padding-left: 43px !important;
}

.left-inner-addon .successBorder {
  border: 1px solid #01A16F !important;
  border-radius: 20px !important;
  padding-left: 43px !important;
}

.left-inner-addon .main {
  position: absolute;
  padding: 16px 18px !important;
  pointer-events: none;
  z-index: 3;
}

.terms {
  font-size: 14px;
  line-height: 2;
  // / or 23px /
  font-weight: 400 !important;

  text-align: center;

  color: #000000;
}

// .bordergreen{
//     border: 1px solid #01A16F !important;
// }

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 35px !important;
}

.right-inner-addon .main {
  position: absolute;
  right: 0px;
  padding: 12px 12px;
  pointer-events: none;
}

.left-and-right-inner-addon {
  position: relative;
}

.left-and-right-inner-addon input {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.left-and-right-inner-addon .main.left {
  position: absolute;
  padding: 12px 12px;
  pointer-events: none;
}

.left-and-right-inner-addon .main.right {
  position: absolute;
  right: 0px;
  padding: 12px 12px;
  pointer-events: none;
}


.right-inner-addon-b {
  position: relative;
}

.right-inner-addon-b input {
  padding-right: 35px !important;
}

.right-inner-addon-b .main {
  position: absolute;
  right: 0px;
  padding: 9px 12px;
  pointer-events: none;
}

input {
  width: 100%;

  margin: 0em !important;
  box-sizing: border-box;
}

/* .ReactFlagsSelect-module_flagsSelect__2pfa2{
  border: 1px solid #AA2AE1 !important;
  border-radius: 20px !important;
  padding: 6px 18px;
} */

.custom__popover {
  min-width: 300px;
}

.mainDrp {
  border: 1px solid #01A16F !important;
  border-radius: 20px !important;
  padding: 6px 18px;
}

/* .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: 0px !important;
} */


.otppopupMobilefield {
  display: none;
}

.enableresend {
  pointer-events: none !important;
}

// .OtpErrinput
//   {

//     vertical-align: middle;
//     box-shadow: 0 0 0 transparent;
//     outline: 0 none;
//     transition: box-shadow 0.5s;

//     &.error
//     {
//       animation: shake 0.2s ease-in-out 0s 2;
//       box-shadow: 0 0 0.5em red;
//     }
//   }

.otpModal input {
  border: 1px solid #01A16F;
  border-radius: 20px;
  width: 100% !important;
  margin: 10px 10px 10px 10px;
  height: 100px;
  max-height: 60px;
}

.error_otpModal input {
  border: 2px solid #ff0101 !important;
  border-radius: 20px !important;
  width: 100% !important;
  margin: 10px 10px 10px 10px !important;
  height: 100px !important;
  max-height: 60px !important;
}

.Error_Otp_input {
  //   border: 2px solid #ff0101 !important;
  animation-name: shake;
  animation-duration: 0.3s;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  25% {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  100% {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

.error_font {
  font-size: 11px !important;
}

.error_Border {
  border: 2px solid red !important;
}

.inputphonecode {
  width: 31% !important;
}

.inputphonenum {
  width: 69% !important;
  padding-left: 0px !important;
}

.left-inner-addon .inputmobile {
  padding-left: 10px !important;
}

.formcontroll22 {
  border-radius: 20px 0px 0px 20px !important;
  border: none !important;
  border-right: 1px solid #c6c6c6 !important;
  background-color: #f7eafc !important;
}

.formcontroll33 {
  border: none !important;
  border-radius: 0px 20px 20px 0px !important;
  background-color: #f7eafc !important;
}


.eye-icon {
  position: absolute;
  right: 25px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}


.left-and-right-inner-addon1 {
  position: relative !important;
}

.left-and-right-inner-addon1 .form-input11 {
  padding-right: 43px !important;
  padding-left: 43px !important;

}

.left-and-right-inner-addon1 .left1 {
  position: absolute !important;
  padding: 16px 18px !important;
  pointer-events: none !important;
}

.left-and-right-inner-addon1 .right1 {
  position: absolute !important;
  right: 0px !important;
  padding: 18px 25px !important;
  z-index: 2;
}


