.addBtn{
    background: #AA2AE1 !important;
    border: 2px solid #AA2AE1 !important;
    border-radius: 30px !important;
    color: #fff !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}